<!doctype html>
<html lang="{{ site.lang | default: 'en-US' }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <!-- <link rel="stylesheet" href="{{ '/assets/css/styles2.css' }}"> -->
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"
    integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  {% include head-custom.html %}
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <style>
    body {
      margin: 0;
      overflow: hidden;
      background: black;
      overflow-y: auto;
      min-height: 100vh;
      position: relative;
    }

    .star {
      position: fixed;
      width: 2px;
      height: 2px;
      background: white;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.3s ease-in;
    }

    @keyframes twinkle {

      0%,
      100% {
        opacity: 1;
      }

      50% {
        opacity: 0.3;
      }
    }

    .wrapper {
      position: relative;
      z-index: 1;
      height: auto;
      max-width: 650px;
      margin: 0 auto;
      padding: 0 20px;
      background: linear-gradient(#2a2a29, #1c1c1c);
    }

    #title {
      border: 0;
      outline: none;
      margin: 0 0 20px 0;
      padding: 15px 0 5px 0;

      h1 {
        font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-size: 40px;
        text-align: center;
        line-height: 36px;
      }

      p {
        color: #d7cfbe;
        font-family: 'OpenSansLight', "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-size: 18px;
        text-align: center;
      }
    }


    img {
      display: block;
      width: 70%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
    }
  </style>
</head>

<body>
  <script>
    var favicon_images = [
      'assets/images/head_gif/artifact-0000.jpg',
      'assets/images/head_gif/artifact-0001.jpg',
      'assets/images/head_gif/artifact-0002.jpg',
      'assets/images/head_gif/artifact-0003.jpg',
      'assets/images/head_gif/artifact-0004.jpg',
      'assets/images/head_gif/artifact-0005.jpg',
      'assets/images/head_gif/artifact-0006.jpg',
      'assets/images/head_gif/artifact-0007.jpg',
      'assets/images/head_gif/artifact-0008.jpg',
      'assets/images/head_gif/artifact-0009.jpg',
      'assets/images/head_gif/artifact-0010.jpg',
      'assets/images/head_gif/artifact-0011.jpg',
      'assets/images/head_gif/artifact-0012.jpg',
      'assets/images/head_gif/artifact-0013.jpg',
      'assets/images/head_gif/artifact-0014.jpg',
      'assets/images/head_gif/artifact-0015.jpg',
      'assets/images/head_gif/artifact-0016.jpg',
      'assets/images/head_gif/artifact-0017.jpg',
      'assets/images/head_gif/artifact-0018.jpg',
      'assets/images/head_gif/artifact-0019.jpg',
      'assets/images/head_gif/artifact-0020.jpg',
      'assets/images/head_gif/artifact-0021.jpg',
      'assets/images/head_gif/artifact-0022.jpg',
      'assets/images/head_gif/artifact-0023.jpg',
      'assets/images/head_gif/artifact-0024.jpg',
      'assets/images/head_gif/artifact-0025.jpg',
      'assets/images/head_gif/artifact-0026.jpg',
      'assets/images/head_gif/artifact-0027.jpg',
      'assets/images/head_gif/artifact-0028.jpg',
      'assets/images/head_gif/artifact-0029.jpg',
      'assets/images/head_gif/artifact-0030.jpg',
      'assets/images/head_gif/artifact-0031.jpg',
      'assets/images/head_gif/artifact-0032.jpg',
      'assets/images/head_gif/artifact-0033.jpg',
      'assets/images/head_gif/artifact-0034.jpg',
      'assets/images/head_gif/artifact-0035.jpg',
      'assets/images/head_gif/artifact-0036.jpg',
      'assets/images/head_gif/artifact-0037.jpg',
      'assets/images/head_gif/artifact-0038.jpg',
      'assets/images/head_gif/artifact-0039.jpg',
      'assets/images/head_gif/artifact-0040.jpg',
      'assets/images/head_gif/artifact-0041.jpg',
      'assets/images/head_gif/artifact-0042.jpg',
      'assets/images/head_gif/artifact-0043.jpg',
      'assets/images/head_gif/artifact-0044.jpg',
      'assets/images/head_gif/artifact-0045.jpg',
      'assets/images/head_gif/artifact-0046.jpg',
      'assets/images/head_gif/artifact-0047.jpg',
      'assets/images/head_gif/artifact-0048.jpg',
      'assets/images/head_gif/artifact-0049.jpg',
      'assets/images/head_gif/artifact-0050.jpg',
      'assets/images/head_gif/artifact-0051.jpg',
      'assets/images/head_gif/artifact-0052.jpg',
      'assets/images/head_gif/artifact-0053.jpg',
      'assets/images/head_gif/artifact-0054.jpg',
      'assets/images/head_gif/artifact-0055.jpg',
      'assets/images/head_gif/artifact-0056.jpg',
      'assets/images/head_gif/artifact-0057.jpg',
      'assets/images/head_gif/artifact-0058.jpg',
      'assets/images/head_gif/artifact-0059.jpg',
      'assets/images/head_gif/artifact-0060.jpg',
      'assets/images/head_gif/artifact-0061.jpg',
      'assets/images/head_gif/artifact-0062.jpg',
      'assets/images/head_gif/artifact-0063.jpg',
      'assets/images/head_gif/artifact-0064.jpg',
      'assets/images/head_gif/artifact-0065.jpg',
      'assets/images/head_gif/artifact-0066.jpg',
      'assets/images/head_gif/artifact-0067.jpg',
      'assets/images/head_gif/artifact-0068.jpg',
      'assets/images/head_gif/artifact-0069.jpg',
      'assets/images/head_gif/artifact-0070.jpg',
      'assets/images/head_gif/artifact-0071.jpg',
      'assets/images/head_gif/artifact-0072.jpg',
      'assets/images/head_gif/artifact-0073.jpg',
      'assets/images/head_gif/artifact-0074.jpg',
      'assets/images/head_gif/artifact-0075.jpg',
      'assets/images/head_gif/artifact-0076.jpg',
      'assets/images/head_gif/artifact-0077.jpg',
      'assets/images/head_gif/artifact-0078.jpg',
      'assets/images/head_gif/artifact-0079.jpg',
      'assets/images/head_gif/artifact-0080.jpg',
      'assets/images/head_gif/artifact-0081.jpg',
      'assets/images/head_gif/artifact-0082.jpg',
      'assets/images/head_gif/artifact-0083.jpg',
      'assets/images/head_gif/artifact-0084.jpg',
      'assets/images/head_gif/artifact-0085.jpg',
      'assets/images/head_gif/artifact-0086.jpg',
      'assets/images/head_gif/artifact-0087.jpg',
      'assets/images/head_gif/artifact-0088.jpg',
      'assets/images/head_gif/artifact-0089.jpg',
      'assets/images/head_gif/artifact-0090.jpg',
      'assets/images/head_gif/artifact-0091.jpg',
      'assets/images/head_gif/artifact-0092.jpg',
      'assets/images/head_gif/artifact-0093.jpg',
      'assets/images/head_gif/artifact-0094.jpg',
      'assets/images/head_gif/artifact-0095.jpg',
      'assets/images/head_gif/artifact-0096.jpg',
      'assets/images/head_gif/artifact-0097.jpg',
      'assets/images/head_gif/artifact-0098.jpg',
      'assets/images/head_gif/artifact-0099.jpg',
      'assets/images/head_gif/artifact-0100.jpg',
      'assets/images/head_gif/artifact-0101.jpg',
      'assets/images/head_gif/artifact-0102.jpg',
      'assets/images/head_gif/artifact-0103.jpg',
      'assets/images/head_gif/artifact-0104.jpg',
      'assets/images/head_gif/artifact-0105.jpg',
      'assets/images/head_gif/artifact-0106.jpg',
      'assets/images/head_gif/artifact-0107.jpg',
      'assets/images/head_gif/artifact-0108.jpg',
      'assets/images/head_gif/artifact-0109.jpg',
      'assets/images/head_gif/artifact-0110.jpg',
      'assets/images/head_gif/artifact-0111.jpg',
      'assets/images/head_gif/artifact-0112.jpg',
      'assets/images/head_gif/artifact-0113.jpg',
      'assets/images/head_gif/artifact-0114.jpg',
      'assets/images/head_gif/artifact-0115.jpg',
      'assets/images/head_gif/artifact-0116.jpg',
      'assets/images/head_gif/artifact-0117.jpg',
      'assets/images/head_gif/artifact-0118.jpg',
      'assets/images/head_gif/artifact-0119.jpg',
      'assets/images/head_gif/artifact-0120.jpg',
      'assets/images/head_gif/artifact-0121.jpg',
      'assets/images/head_gif/artifact-0122.jpg',
      'assets/images/head_gif/artifact-0123.jpg',
      'assets/images/head_gif/artifact-0124.jpg',
      'assets/images/head_gif/artifact-0125.jpg',
      'assets/images/head_gif/artifact-0126.jpg',
      'assets/images/head_gif/artifact-0127.jpg',
      'assets/images/head_gif/artifact-0128.jpg',
      'assets/images/head_gif/artifact-0129.jpg',
      'assets/images/head_gif/artifact-0130.jpg',
      'assets/images/head_gif/artifact-0131.jpg',
      'assets/images/head_gif/artifact-0132.jpg',
      'assets/images/head_gif/artifact-0133.jpg',
      'assets/images/head_gif/artifact-0134.jpg',
      'assets/images/head_gif/artifact-0135.jpg',
      'assets/images/head_gif/artifact-0136.jpg',
      'assets/images/head_gif/artifact-0137.jpg',
      'assets/images/head_gif/artifact-0138.jpg',
      'assets/images/head_gif/artifact-0139.jpg',
      'assets/images/head_gif/artifact-0140.jpg',
      'assets/images/head_gif/artifact-0141.jpg',
      'assets/images/head_gif/artifact-0142.jpg',
      'assets/images/head_gif/artifact-0143.jpg',
      'assets/images/head_gif/artifact-0144.jpg',
      'assets/images/head_gif/artifact-0145.jpg',
      'assets/images/head_gif/artifact-0146.jpg',
      'assets/images/head_gif/artifact-0147.jpg',
      'assets/images/head_gif/artifact-0148.jpg',
      'assets/images/head_gif/artifact-0149.jpg',
      'assets/images/head_gif/artifact-0150.jpg',
      'assets/images/head_gif/artifact-0151.jpg',
      'assets/images/head_gif/artifact-0152.jpg',
      'assets/images/head_gif/artifact-0153.jpg',
      'assets/images/head_gif/artifact-0154.jpg',
      'assets/images/head_gif/artifact-0155.jpg',
      'assets/images/head_gif/artifact-0156.jpg',
      'assets/images/head_gif/artifact-0157.jpg',
      'assets/images/head_gif/artifact-0158.jpg',
      'assets/images/head_gif/artifact-0159.jpg',
      'assets/images/head_gif/artifact-0160.jpg',
      'assets/images/head_gif/artifact-0161.jpg',
      'assets/images/head_gif/artifact-0162.jpg',
      'assets/images/head_gif/artifact-0163.jpg',
      'assets/images/head_gif/artifact-0164.jpg',
      'assets/images/head_gif/artifact-0165.jpg',
      'assets/images/head_gif/artifact-0166.jpg',
      'assets/images/head_gif/artifact-0167.jpg',
      'assets/images/head_gif/artifact-0168.jpg',
      'assets/images/head_gif/artifact-0169.jpg',
      'assets/images/head_gif/artifact-0170.jpg',
      'assets/images/head_gif/artifact-0171.jpg',
      'assets/images/head_gif/artifact-0172.jpg',
      'assets/images/head_gif/artifact-0173.jpg',
      'assets/images/head_gif/artifact-0174.jpg',
      'assets/images/head_gif/artifact-0175.jpg',
      'assets/images/head_gif/artifact-0176.jpg',
      'assets/images/head_gif/artifact-0177.jpg',
      'assets/images/head_gif/artifact-0178.jpg',
      'assets/images/head_gif/artifact-0179.jpg',
      'assets/images/head_gif/artifact-0180.jpg',
      'assets/images/head_gif/artifact-0181.jpg',
      'assets/images/head_gif/artifact-0182.jpg',
      'assets/images/head_gif/artifact-0183.jpg',
      'assets/images/head_gif/artifact-0184.jpg',
      'assets/images/head_gif/artifact-0185.jpg',
      'assets/images/head_gif/artifact-0186.jpg',
      'assets/images/head_gif/artifact-0187.jpg',
      'assets/images/head_gif/artifact-0188.jpg',
      'assets/images/head_gif/artifact-0189.jpg',
      'assets/images/head_gif/artifact-0190.jpg',
      'assets/images/head_gif/artifact-0191.jpg',
      'assets/images/head_gif/artifact-0192.jpg',
      'assets/images/head_gif/artifact-0193.jpg',
      'assets/images/head_gif/artifact-0194.jpg',
      'assets/images/head_gif/artifact-0195.jpg',
      'assets/images/head_gif/artifact-0196.jpg',
      'assets/images/head_gif/artifact-0197.jpg',
      'assets/images/head_gif/artifact-0198.jpg',
      'assets/images/head_gif/artifact-0199.jpg',
      'assets/images/head_gif/artifact-0200.jpg',
      'assets/images/head_gif/artifact-0201.jpg',
      'assets/images/head_gif/artifact-0202.jpg',
      'assets/images/head_gif/artifact-0203.jpg',
      'assets/images/head_gif/artifact-0204.jpg',
      'assets/images/head_gif/artifact-0205.jpg',
      'assets/images/head_gif/artifact-0206.jpg',
      'assets/images/head_gif/artifact-0207.jpg',
      'assets/images/head_gif/artifact-0208.jpg',
      'assets/images/head_gif/artifact-0209.jpg',
      'assets/images/head_gif/artifact-0210.jpg',
      'assets/images/head_gif/artifact-0211.jpg',
      'assets/images/head_gif/artifact-0212.jpg',
      'assets/images/head_gif/artifact-0213.jpg',
      'assets/images/head_gif/artifact-0214.jpg',
      'assets/images/head_gif/artifact-0215.jpg',
      'assets/images/head_gif/artifact-0216.jpg',
      'assets/images/head_gif/artifact-0217.jpg',
      'assets/images/head_gif/artifact-0218.jpg',
      'assets/images/head_gif/artifact-0219.jpg',
      'assets/images/head_gif/artifact-0220.jpg',
      'assets/images/head_gif/artifact-0221.jpg',
      'assets/images/head_gif/artifact-0222.jpg',
      'assets/images/head_gif/artifact-0223.jpg',
      'assets/images/head_gif/artifact-0224.jpg',
      'assets/images/head_gif/artifact-0225.jpg',
      'assets/images/head_gif/artifact-0226.jpg',
      'assets/images/head_gif/artifact-0227.jpg',
      'assets/images/head_gif/artifact-0228.jpg',
      'assets/images/head_gif/artifact-0229.jpg',
      'assets/images/head_gif/artifact-0230.jpg',
      'assets/images/head_gif/artifact-0231.jpg',
      'assets/images/head_gif/artifact-0232.jpg',
      'assets/images/head_gif/artifact-0233.jpg',
      'assets/images/head_gif/artifact-0234.jpg',
      'assets/images/head_gif/artifact-0235.jpg',
      'assets/images/head_gif/artifact-0236.jpg',
      'assets/images/head_gif/artifact-0237.jpg',
      'assets/images/head_gif/artifact-0238.jpg',
      'assets/images/head_gif/artifact-0239.jpg',
      'assets/images/head_gif/artifact-0240.jpg',
      'assets/images/head_gif/artifact-0241.jpg',
      'assets/images/head_gif/artifact-0242.jpg',
      'assets/images/head_gif/artifact-0243.jpg',
      'assets/images/head_gif/artifact-0244.jpg',
      'assets/images/head_gif/artifact-0245.jpg',
      'assets/images/head_gif/artifact-0246.jpg',
      'assets/images/head_gif/artifact-0247.jpg',
      'assets/images/head_gif/artifact-0248.jpg',
      'assets/images/head_gif/artifact-0249.jpg',
      'assets/images/head_gif/artifact-0250.jpg',
      'assets/images/head_gif/artifact-0251.jpg',
      'assets/images/head_gif/artifact-0252.jpg',
      'assets/images/head_gif/artifact-0253.jpg',
      'assets/images/head_gif/artifact-0254.jpg',
      'assets/images/head_gif/artifact-0255.jpg',
      'assets/images/head_gif/artifact-0256.jpg',
      'assets/images/head_gif/artifact-0257.jpg',
      'assets/images/head_gif/artifact-0258.jpg',
      'assets/images/head_gif/artifact-0259.jpg',
      'assets/images/head_gif/artifact-0260.jpg',
      'assets/images/head_gif/artifact-0261.jpg',
      'assets/images/head_gif/artifact-0262.jpg',
      'assets/images/head_gif/artifact-0263.jpg',
      'assets/images/head_gif/artifact-0264.jpg',
      'assets/images/head_gif/artifact-0265.jpg',
      'assets/images/head_gif/artifact-0266.jpg',
      'assets/images/head_gif/artifact-0267.jpg',
      'assets/images/head_gif/artifact-0268.jpg',
      'assets/images/head_gif/artifact-0269.jpg',
      'assets/images/head_gif/artifact-0270.jpg',
      'assets/images/head_gif/artifact-0271.jpg',
      'assets/images/head_gif/artifact-0272.jpg',
      'assets/images/head_gif/artifact-0273.jpg',
      'assets/images/head_gif/artifact-0274.jpg',
      'assets/images/head_gif/artifact-0275.jpg',
      'assets/images/head_gif/artifact-0276.jpg',
      'assets/images/head_gif/artifact-0277.jpg',
      'assets/images/head_gif/artifact-0278.jpg',
      'assets/images/head_gif/artifact-0279.jpg',
      'assets/images/head_gif/artifact-0280.jpg',
      'assets/images/head_gif/artifact-0281.jpg',
      'assets/images/head_gif/artifact-0282.jpg',
      'assets/images/head_gif/artifact-0283.jpg',
      'assets/images/head_gif/artifact-0284.jpg',
      'assets/images/head_gif/artifact-0285.jpg',
      'assets/images/head_gif/artifact-0286.jpg',
      'assets/images/head_gif/artifact-0287.jpg',
      'assets/images/head_gif/artifact-0288.jpg',
      'assets/images/head_gif/artifact-0289.jpg',
      'assets/images/head_gif/artifact-0290.jpg',
      'assets/images/head_gif/artifact-0291.jpg',
      'assets/images/head_gif/artifact-0292.jpg',
      'assets/images/head_gif/artifact-0293.jpg',
      'assets/images/head_gif/artifact-0294.jpg',
      'assets/images/head_gif/artifact-0295.jpg',
      'assets/images/head_gif/artifact-0296.jpg',
      'assets/images/head_gif/artifact-0297.jpg',
      'assets/images/head_gif/artifact-0298.jpg',
      'assets/images/head_gif/artifact-0299.jpg',
      'assets/images/head_gif/artifact-0300.jpg',
      'assets/images/head_gif/artifact-0301.jpg',
      'assets/images/head_gif/artifact-0302.jpg',
      'assets/images/head_gif/artifact-0303.jpg',
      'assets/images/head_gif/artifact-0304.jpg',
      'assets/images/head_gif/artifact-0305.jpg',
      'assets/images/head_gif/artifact-0306.jpg',
      'assets/images/head_gif/artifact-0307.jpg',
      'assets/images/head_gif/artifact-0308.jpg',
      'assets/images/head_gif/artifact-0309.jpg',
      'assets/images/head_gif/artifact-0310.jpg',
      'assets/images/head_gif/artifact-0311.jpg',
      'assets/images/head_gif/artifact-0312.jpg',
      'assets/images/head_gif/artifact-0313.jpg',
      'assets/images/head_gif/artifact-0314.jpg',
      'assets/images/head_gif/artifact-0315.jpg',
      'assets/images/head_gif/artifact-0316.jpg',
      'assets/images/head_gif/artifact-0317.jpg',
      'assets/images/head_gif/artifact-0318.jpg',
      'assets/images/head_gif/artifact-0319.jpg',
      'assets/images/head_gif/artifact-0320.jpg',
      'assets/images/head_gif/artifact-0321.jpg',
      'assets/images/head_gif/artifact-0322.jpg',
      'assets/images/head_gif/artifact-0323.jpg',
      'assets/images/head_gif/artifact-0324.jpg',
      'assets/images/head_gif/artifact-0325.jpg',
      'assets/images/head_gif/artifact-0326.jpg',
      'assets/images/head_gif/artifact-0327.jpg',
      'assets/images/head_gif/artifact-0328.jpg',
      'assets/images/head_gif/artifact-0329.jpg',
      'assets/images/head_gif/artifact-0330.jpg',
      'assets/images/head_gif/artifact-0331.jpg',
      'assets/images/head_gif/artifact-0332.jpg',
      'assets/images/head_gif/artifact-0333.jpg',
      'assets/images/head_gif/artifact-0334.jpg',
      'assets/images/head_gif/artifact-0335.jpg',
      'assets/images/head_gif/artifact-0336.jpg',
      'assets/images/head_gif/artifact-0337.jpg',
      'assets/images/head_gif/artifact-0338.jpg',
      'assets/images/head_gif/artifact-0339.jpg',
      'assets/images/head_gif/artifact-0340.jpg',
      'assets/images/head_gif/artifact-0341.jpg',
      'assets/images/head_gif/artifact-0342.jpg',
      'assets/images/head_gif/artifact-0343.jpg',
      'assets/images/head_gif/artifact-0344.jpg',
      'assets/images/head_gif/artifact-0345.jpg',
      'assets/images/head_gif/artifact-0346.jpg',
      'assets/images/head_gif/artifact-0347.jpg',
      'assets/images/head_gif/artifact-0348.jpg',
      'assets/images/head_gif/artifact-0349.jpg',
      'assets/images/head_gif/artifact-0350.jpg',
      'assets/images/head_gif/artifact-0351.jpg',
      'assets/images/head_gif/artifact-0352.jpg',
      'assets/images/head_gif/artifact-0353.jpg',
      'assets/images/head_gif/artifact-0354.jpg',
      'assets/images/head_gif/artifact-0355.jpg',
      'assets/images/head_gif/artifact-0356.jpg',
      'assets/images/head_gif/artifact-0357.jpg',
      'assets/images/head_gif/artifact-0358.jpg',
      'assets/images/head_gif/artifact-0359.jpg'
    ];

    image_counter = 0;

    setInterval(function () {
      // if (document.querySelector("link[rel='icon']") !== null)
      //   document.querySelector("link[rel='icon']").remove();
      // if (document.querySelector("link[rel='shortcut icon']") !== null)
      //   document.querySelector("link[rel='shortcut icon']").remove();

      document.querySelector("link[rel='icon']").href = favicon_images[image_counter];
    
      if (image_counter == favicon_images.length - 1)
        image_counter = 0;
      else
        image_counter++;
    }, 200);

    class Star {
      constructor() {
        this.element = document.createElement('div');
        this.element.className = 'star';
        this.reset();
        document.body.appendChild(this.element);

        // Random twinkle animation
        if (Math.random() > 0.5) {
          this.element.style.animation = `twinkle ${2 + Math.random() * 3}s ease-in-out infinite`;
        }
      }

      reset() {
        this.x = Math.random() * window.innerWidth;
        this.y = -10;
        this.speed = 0.5 + Math.random() * 2;
        this.element.style.left = `${this.x}px`;
        this.element.style.top = `${this.y}px`;
        this.element.style.opacity = 0.4 + Math.random() * 0.6;
      }

      move() {
        this.y += this.speed;
        this.element.style.top = `${this.y}px`;

        // Reset star when it goes off screen
        if (this.y > window.innerHeight) {
          this.reset();
        }
      }
    }

    // Create star field
    const stars = Array.from({ length: 200 }, () => new Star());

    // Animation loop
    function animate() {
      stars.forEach(star => star.move());
      requestAnimationFrame(animate);
    }

    animate();

    // Handle window resize
    window.addEventListener('resize', () => {
      stars.forEach(star => {
        if (star.x > window.innerWidth) {
          star.reset();
        }
      });
    });
  </script>
  <!-- <div class="stars"></div> -->
  <!-- <div class="twinkling"></div> -->

  <div id="header">
    <nav>
      <ul>
        <li class="fork" style="margin-right: 1vw;"><a href="/">Home</a></li>
        <li class="fork" style="margin-right: 1vw;"><a href="/projects">Projects</a></li>
        <li class="fork" style="margin-right: 1vw;"><a href="/achievements">Certifications and Achievements</a></li>
        <li class="fork" style="margin-right: 1vw;"><a href="/research">Research Work</a></li>
        <li class="fork" style="margin-right: 1vw;"><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>

  <div class="wrapper" style="padding-bottom: 20px; margin-top: 70px;">
    <section id="title">
      <h1>{{ site.title | default: site.github.repository_name }}</h1>
      <p>{{ site.description | default: site.github.project_tagline }}</p>
      <hr>
      <!-- <span class="credits left">Project by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span> -->
      <!-- <span class="credits right">Hosted on GitHub Pages</span> -->
    </section>

    <div class="content">
      {{ content }}
    </div>
  </div>
</body>

</html>